@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

.correct {
  background-color: #c8ffdf;
}

.wrong {
    background-color: #ffd1d1;
}
